<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form{
            margin: auto;
            width: 50vw;
            /* box-sizing:  */
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        input{
            padding: 1rem;
        }
    </style>
</head>
<body>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <label for="username">Enter Username:<input type="text" name="username"></label>
        <label for="email">Enter Email: <input type="email" name="email" id="email"></label>
        <label for="password1">Enter password: <input type="password" name="password1" id="password1"></label>
        <label for="password2">Confirm password: <input type="password" name="password2" id="password2"></label>
        <input type="submit" value="Sign up">
        <p>Have an account? <a href="{% url 'login' %}">Login</a></p>
    </form>
</body>
</html>