<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form{
            width: 50vw;
            box-sizing: 0 0 3px 2px rgba(0, 0, 0, 0.3);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 5px;
        }
    </style>
</head>
<body>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Sign up">
        <p>Have an account? <a href="{% url 'login' %}">Login</a></p>
    </form>
</body>
</html>