<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'update_task' task.id %}" method="post">
        {% csrf_token %}
        <label for="title">Title:<input type="text" name="title" value="{{task.title}}"></label>
        <label for="status">Complete:<input type="checkbox" name="status" id="status" value="{{task.complete}}"></label>
        <label for="date-time">Due date:<input type="datetime-local" name="datetime" id="date-time" value="{{task.due_date}}"></label>
        <input type="submit" id="submit">
    </form>
</body>
</html>